<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener | By Stonechat</title>
</head>
<body>
    
    <h1> <%= shortenedLink %> </h1>
    <form action="/shorten" method="POST">
        <input type="text" placeholder="URL To shorten!" name="urlToShorten">
        <input type="submit">
    </form>


</body>
</html>